<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location Input Form</title>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet">
    <style>
        #map {
            height: 400px;
            width: 100%;
            margin-bottom: 20px;
        }
    </style>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet">
</head>
<body>
    <h1>Location Input Form</h1>
    <form id="location-form" action="/location" method="post">
        <label for="location">Enter Location:</label>
        <input type="text" id="location" name="location" onchange="findLocation()">
        <input type="hidden" name="Longitude" id="Longitude">
        <input type="hidden" name="Latitude" id="Latitude">
        <button type="submit">Find Location</button>
    </form>
    <div id="map"></div>
    <div id="coordinates"></div>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
    <script src="{{ url_for('static', filename='example.js') }}"></script>
    </script>
</body>
</html>
